extends layout

block content
  include flashmessages
  a(href="companies/add").waves-effect.waves-light.btn-small.right.vertical-align
    i.material-icons.large add 
    p Tilføj Firma
  h2= title
  br
  ul
  each company of companies
    li: a(href='companies/id/'+company.id)= company.city + " / " + company.name
    br
    
