.row
    .input-field.col.s3
        i.material-icons.prefix search
        input(type="search" id="icon_prefix" class="search-bar" name="search" placeholder="søg...")
        label(for="icon_prefix")
script(src="/javascripts/search.js")