extends layout

block content
    include flashmessages
    title= title
    a(href="students/add").waves-effect.waves-light.btn-small.right.vertical-align
        i.material-icons.large add 
        p Tilføj Kursist
    h2 Kursister
    include searchbar
    ul#student-list
        each student of students
            li: a(href='students/id/'+student.id)= student.first_name + " " + student.last_name
